

*{
	text-align:center;
}

h1{
    font-family:monospace;
    text-align: center;
    font-size:40px;
}

h2{
    font-family:monospace;
    text-align: center;
    font-size:40px;
}

h2::first-letter { 
    font-size: 300%;
    color:#FF0000;
}

table{
    
    
}
tr{
    border-bottom-width: 100px;
    
}

th{

 width:500px;
font-size:200%;
color:#000000;
padding-bottom: 40px;
padding-left: -100px;
text-align: center;
}

th::first-letter { 
    font-size: 300%;
    color:#FF0000;
}
th::second-letter { 
    font-size: 300%;
    color:#FF0000;
}

audio{
    
    display:none;
}